/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color:#000028;
  --main-color: #000028;
  --accent-color:#FF0070;
  --font-color:#F1B2CE;
  --main-title-color:#DB00FF;
  --bg-img: url("../images/cover-image-dark.png");
  --hover-color:rgba(255, 0, 112, 0.4);
  --corner-color:var(--accent-color);
  --bt-color:#ff0070;
}

.theme_dark .header__decorated-icon {
  display: unset;
}