/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --font-color: #353430;
  --main-title-color: #ffc2e6;
  --bg-img: url("../images/cover-image-light.png");
  --hover-color: rgba(50, 49, 45, 0.4);
  --corner-color: var(--main-color);
  --bt-color:#353430;
}

.page.theme_light .header__decorated-icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --font-color: #353430;
    --main-title-color: #ffc2e6;
    --bg-img: url("../images/cover-image-light.png");
    --hover-color: rgba(50, 49, 45, 0.4);
    --corner-color: var(--main-color);
    --bt-color:#353430;
}
  
  .header__decorated-icon{
    display: none;
  }
}